body{
    background-color:#666;
}
.custom{
    width:1200px;
    margin:50px auto;
    padding:20px;
    border:2px solid #ccc;
    box-sizing: border-box;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    background-color:#fff;
}
.pic{width:700px;}
.pic>img{width:100%;}
.selector{
    width:400px;
    padding:15px;
    box-sizing: border-box;
}
.selector>p{
    margin-bottom:30px;
    font-size:30px;
}
.selector>p>label{
    display:inline-block;
    width:130px;
    /* padding-right:30px; */
}
.selector>p>select{
    width:200px;
    font-size:30px;
    line-height: 50px;
}